<div class="container-fluid">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-6 border border-light rounded p-5 shadow-lg bg-white">
            <div class="btn-group mb-5">
                <button type="button" class="btn btn-light" (click)="selecionarFormulario('cadastro')">Cadastro</button>
                <button type="button" class="btn btn-light" (click)="selecionarFormulario('exclusao')">Exclusão</button>
                <button type="button" class="btn btn-light" (click)="selecionarFormulario('alterar')">Alterar</button>
                <button type="button" class="btn btn-light" (click)="selecionarFormulario('listar')">Listar</button>
                <button type="button" class="btn btn-light" (click)="selecionarFormulario('buscar')">Buscar</button>
            </div>

            <div *ngIf="formularioSelecionado === 'cadastro'">
                <h6>{{ tituloFormulario }}</h6>
                <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">

                    <div class="form-group">
                        <label>Id</label>
                        <input type="text" class="form-control form-control-sm" formControlName="Id" />
                    </div>
                    <div class="form-group">
                        <label>Paciente</label>
                        <select class="form-control form-control-sm" formControlName="PacienteId">
                            <option *ngFor="let paciente of pacientes" [value]="paciente.id">
                                {{ paciente.nome }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Medico</label>
                        <select class="form-control form-control-sm" formControlName="MedicoId">
                            <option *ngFor="let medico of medicos" [value]="medico.id">
                                {{ medico.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Razão</label>
                        <input type="text" class="form-control form-control-sm" formControlName="Razao" />
                    </div>
                    <div class="form-group">
                        <label>DataHora</label>
                        <input type="datetime-local" class="form-control form-control-sm" formControlName="DataHora" />
                    </div>
                    <div class="container mt-3">
                        <div class="row">
                            <div>
                                <button type="submit" class="btn btn-sm btn-outline-secondary">
                                    Salvar
                                </button>
                            </div>
                            <div class="pl-1">
                                <button type="button" class="btn btn-sm btn-light">Voltar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div *ngIf="formularioSelecionado === 'exclusao'">
                <h6>{{ tituloFormularioExcluir }}</h6>
                <form [formGroup]="formularioExclusao">
                    <div class="form-group">
                        <label for="IdExclusao">ID da Consulta:</label>
                        <input type="number" id="IdExclusao" formControlName="Id" />
                    </div>
                    <button (click)="excluirConsulta()">Excluir</button>
                </form>
            </div>

            <div *ngIf="formularioSelecionado === 'alterar'">
                <h6>{{ tituloFormularioAtualizar }}</h6>
                <form [formGroup]="formularioAtualizar" (ngSubmit)="atualizarConsulta()">

                    <div class="form-group">
                        <label>Id</label>
                        <input type="text" class="form-control form-control-sm" formControlName="Id" />
                    </div>
                    <div class="form-group">
                        <label>Paciente</label>
                        <select class="form-control form-control-sm" formControlName="PacienteId">
                            <option *ngFor="let paciente of pacientes" [value]="paciente.id">
                                {{ paciente.nome }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Medico</label>
                        <select class="form-control form-control-sm" formControlName="MedicoId">
                            <option *ngFor="let medico of medicos" [value]="medico.id">
                                {{ medico.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Razão</label>
                        <input type="text" class="form-control form-control-sm" formControlName="Razao" />
                    </div>
                    <div class="form-group">
                        <label>DataHora</label>
                        <input type="datetime-local" class="form-control form-control-sm" formControlName="DataHora" />
                    </div>
                    <div class="container mt-3">
                        <div class="row">
                            <div>
                                <button type="submit" class="btn btn-sm btn-outline-secondary">
                                    Salvar
                                </button>
                            </div>
                            <div class="pl-1">
                                <button type="button" class="btn btn-sm btn-light">Voltar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div *ngIf="formularioSelecionado === 'listar'">
                <h6>Lista de Consultas</h6>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>PacienteID</th>
                            <th>MedicoID</th>
                            <th>Razao</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let consulta of result | async">
                            <td>{{ consulta.id }}</td>
                            <td>{{ consulta.pacienteId }}</td>
                            <td>{{ consulta.medicoId }}</td>
                            <td>{{ consulta.razao }}</td>
                            <td>{{ consulta.dataHora }}</td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-sm btn-light" (click)="selecionarFormulario('cadastro')">Voltar</button>
            </div>
