<app-navbar/>
<style>
    /* Adicione a fonte Roboto Condensed */
    @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
    .custom-font {
        font-family: 'Roboto Condensed', sans-serif;
    }
</style>
<div class="text-left mt-4 ml-4 pl-5">
    <p class="text-white display-3 custom-font" style="margin-top: 150px;">
    API voltada para <br> gestão de<br> clínicas médicas.
  </p>
  <h4 class="text-white">
    CONFIRA COMO FOI DESENVOLVIDO.
    <a href="https://github.com/vitor-machado04/clinica-api" target="_blank">
    <button id="contrast">Clique aqui</button>
    </a>
  </h4>
</div>
<app-footer/>
  
<router-outlet />