<div class="container-fluid">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-6 border border-light rounded p-5 shadow-lg bg-white">
            <div class="btn-group mb-5">
                <button type="button" class="btn btn-light" (click)="selecionarFormulario('cadastro')">Cadastro</button>
                <button type="button" class="btn btn-light" (click)="selecionarFormulario('exclusao')">Exclusão</button>
                <button type="button" class="btn btn-light" (click)="selecionarFormulario('alterar')">Alterar</button>
                <button type="button" class="btn btn-light" (click)="selecionarFormulario('listar')">Listar</button>
                <button type="button" class="btn btn-light" (click)="selecionarFormulario('buscar')">Buscar</button>
            </div>

            <div *ngIf="formularioSelecionado === 'cadastro'">
                <h6>{{ tituloFormulario }}</h6>
                <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">

                    <div class="form-group">
                        <label>Id</label>
                        <input type="text" class="form-control form-control-sm" formControlName="Id" />
                    </div>
                    <div class="form-group">
                        <label>Paciente</label>
                        <select class="form-control form-control-sm" formControlName="PacienteId">
                            <option *ngFor="let paciente of pacientes" [value]="paciente.id">
                                {{ paciente.nome }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Data Criação</label>
                        <input type="datetime-local" class="form-control form-control-sm"
                            formControlName="DataCriacao" />
                    </div>
                    <div class="form-group">
                        <label>Diagnóstico</label>
                        <input type="text" class="form-control form-control-sm" formControlName="Diagnostico" />
                    </div>
                    <div class="form-group">
                        <label>Tratamento</label>
                        <input type="text" class="form-control form-control-sm" formControlName="Tratamento" />
                    </div>
                    <div class="container mt-3">
                        <div class="row">
                            <div>
                                <button type="submit" class="btn btn-sm btn-outline-secondary">
                                    Salvar
                                </button>
                            </div>
                            <div class="pl-1">
                                <button type="button" class="btn btn-sm btn-light">Voltar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div *ngIf="formularioSelecionado === 'exclusao'">
                <h6>Excluir Médico</h6>
                <form [formGroup]="formularioExclusao">

                    <div class="form-group">
                        <label for="IdExclusao">ID da Consulta:</label>
                        <input type="number" id="IdExclusao" formControlName="Id" />
                    </div>
                    <button (click)="excluirProntuario()">Excluir</button>
                </form>
            </div>

            <div *ngIf="formularioSelecionado === 'listar'">
                <h6>Lista de Prontuarios</h6>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>PACIENTE ID</th>
                            <th>DATA CRIAÇÃO</th>
                            <th>DIAGNOSTICO</th>
                            <th>TRATAMENTO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let prontuario of result | async">
                            <td>{{ prontuario.id }}</td>
                            <td>{{ prontuario.pacienteId }}</td>
                            <td>{{ prontuario.dataCriacao }}</td>
                            <td>{{ prontuario.diagnostico }}</td>
                            <td>{{ prontuario.tratamento }}</td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-sm btn-light"
                    (click)="selecionarFormulario('cadastro')">Voltar</button>
            </div>
            <div *ngIf="formularioSelecionado === 'alterar'">
                <h6>{{ tituloFormularioAtualizar }}</h6>
                <form [formGroup]="formularioAtualizar" (ngSubmit)="atualizarProntuario()">

                    <div class="form-group">
                        <label>Id</label>
                        <input type="text" class="form-control form-control-sm" formControlName="Id" />
                    </div>
                    <div class="form-group">
                        <label>Paciente</label>
                        <select class="form-control form-control-sm" formControlName="PacienteId">
                            <option *ngFor="let paciente of pacientes" [value]="paciente.id">
                                {{ paciente.nome }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Data Criação</label>
                        <input type="datetime-local" class="form-control form-control-sm"
                            formControlName="DataCriacao" />
                    </div>
                    <div class="form-group">
                        <label>Diagnóstico</label>
                        <input type="text" class="form-control form-control-sm" formControlName="Diagnostico" />
                    </div>
                    <div class="form-group">
                        <label>Tratamento</label>
                        <input type="text" class="form-control form-control-sm" formControlName="Tratamento" />
                    </div>
                    <div class="container mt-3">
                        <div class="row">
                            <div>
                                <button type="submit" class="btn btn-sm btn-outline-secondary">
                                    Salvar
                                </button>
                            </div>
                            <div class="pl-1">
                                <button type="button" class="btn btn-sm btn-light">Voltar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
