<div class="container-fluid">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-6 border border-light rounded p-5 shadow-lg bg-white">
            <div class="btn-group mb-5">
                <button type="button" class="btn btn-light" (click)="selecionarFormulario('cadastro')">Cadastro</button>
                <button type="button" class="btn btn-light" (click)="selecionarFormulario('exclusao')">Exclusão</button>
                <button type="button" class="btn btn-light" (click)="selecionarFormulario('alterar')">Alterar</button>
                <button type="button" class="btn btn-light" (click)="selecionarFormulario('listar')">Listar</button>
            </div>

            <div *ngIf="formularioSelecionado === 'cadastro'">
                <h6>{{ tituloFormulario }}</h6>
                <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">

                    <div class="form-group">
                        <label>Id</label>
                        <input type="text" class="form-control form-control-sm" formControlName="Id" />
                    </div>
                    <div class="form-group">
                        <label>Medicamento</label>
                        <input type="text" class="form-control form-control-sm" formControlName="Medicamento" />
                    </div>
                    <div class="form-group">
                        <label>Dosagem</label>
                        <input type="text" class="form-control form-control-sm" formControlName="Dosagem" />
                    </div>
                    <div class="form-group">
                        <label>Instruções de Uso</label>
                        <input type="text" class="form-control form-control-sm" formControlName="InstrucoesUso" />
                    </div>
                    <div class="form-group">
                        <label>Data da Emissão</label>
                        <input type="datetime-local" class="form-control form-control-sm" formControlName="DataEmissao" />
                    </div>
                    <div class="form-group">
                        <label>MedicoId</label>
                        <input type="text" class="form-control form-control-sm" formControlName="MedicoId" />
                    </div>
                    <div class="container mt-3">
                        <div class="row">
                            <div>
                                <button type="submit" class="btn btn-sm btn-outline-secondary">
                                    Salvar
                                </button>
                            </div>
                            <div class="pl-1">
                                <button type="button" class="btn btn-sm btn-light">Voltar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div *ngIf="formularioSelecionado === 'exclusao'">
                <h6>Excluir Médico</h6>
                <form [formGroup]="formularioExclusao">

                    <div class="form-group">
                        <label for="IdExclusao">ID da Receita:</label>
                        <input type="number" id="IdExclusao" formControlName="Id" />
                    </div>
                    <button (click)="excluirReceita()">Excluir</button>
                </form>
            </div>
        
            
            